


mixin grids(theme,gridParam)
      .grid
         each item, index in gridParam
            div(class="grid_#{theme}")
                  .grid_img
                     img(src="#{item.img}")
                  .grid_content
                     if item.url
                        a(href="#{item.url}").title=item.title
                     else
                        span.title=item.title
                     p=item.content

mixin media(mediaParam)
   .grid_media&attributes(attributes)
      img(src="#{mediaParam.img}").grid_img
      if mediaParam.url
         a(href="#{mediaParam.url}").title=mediaParam.title
      else
         span.title=mediaParam.title